.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 580px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 950px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

h1 {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 100px;
}

.wrapper__top,
.wrapper__bottom {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.cube {
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}

.results {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.results button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #275453;
}

.results button:hover {
  background-color: #1f4241;
  cursor: pointer;
}

.ready-result {
  padding: 10px 20px;
  margin: 20px 0;
  min-width: 200px;
  min-height: 44px;
  font-size: 18px;
  line-height: 200%;
  border: 1px solid #000;

}